* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
input,
html {
  font-family: "Inter", sans-serif;
}

:root {
  --dark: #21262d;
  --blue: #03398c;
  --light-blue: #4782de;
  --grey: #84868a;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--dark);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

p {
  color: #374151;

  font-size: 1.3rem;
  line-height: 1.8rem;

  margin-bottom: 1em;
}

img {
  width: 100%;
}

a {
  color: var(--blue);

  text-decoration: none;

  cursor: pointer;
  transition: all 1s;
}

a:hover {
  color: var(--light-blue);

  text-decoration: underline;
}

ul {
  list-style: none;
}

ol {
  font-size: 1.2rem;
  margin-left: 1em;
}

ol li {
  margin: 1em auto;
}

ol li::marker {
  color: var(--grey);
}

small {
  color: var(--grey);
}

hr {
  border: 0.5px solid #ddd;
  margin-bottom: 3em;
}

pre {
  border-radius: 1em;
  margin: 2em auto;
}

blockquote p {
  font-style: italic;
  font-weight: 300;
  margin: 1em 1em;
}

.tag {
  color: var(--blue);
}
