* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body,
input,
html {
  font-family: "Inter", sans-serif;
}

:root {
  --dark: #21262d;
  --blue: #03398c;
  --light-blue: #4782de;
  --grey: #84868a;
}

h1,
h2,
h3,
h4 {
  color: var(--dark);
}

p {
  color: #374151;

  font-size: 18px;
  line-height: 1.5em;
}

a {
  color: var(--blue);

  text-decoration: none;

  cursor: pointer;
  transition: all 1s;
}

a:hover {
  color: var(--light-blue);

  text-decoration: underline;
}

ul {
  list-style: none;
}

small {
  color: var(--grey);
}

hr {
  border: 0.5px solid #ddd;
}

.tag {
  color: var(--blue);
}
